@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin: 0;
  background-color: #dcd9d4;
  background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}

div {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

a:link,
a:visited {
  color: #322f3f;
  text-decoration: none;
}

a:hover,
a:active {
  text-decoration: underline;
}
